<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-company">
            &copy;2023 WanderLust Private Limited 
        </div>
        <div class="f-info-links">
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Sitemap</a>
            <a href="#" class="hide">Company Details</a>
            <div class="right ms-auto">
                <i class="fa-solid fa-globe"></i>
                <a href="#">English(IN)</a>
                <i class="fa-solid fa-indian-rupee-sign hide"></i>
                <a href="#" class="hide">INR</a>
                <a href="#">Support  and resouces </a>
            </div>
        </div>

    </div>
</footer>