<div class="nav-belt p-3 ">
    <div class="nav_swiper">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          
            <div class="swiper-slide">
                <div class="filter " >
                    <a href="/listings/filter/Trending" class="text-dark">
                        <div class="text-center"><i class="fa-solid fa-fire"></i></div>
                        <p class="filter-p" >Trending</p>
                    </a>
                </div>
               <div class="filter ">
                    <a href="/listings/filter/Rooms" class="text-dark">
                        <div class="text-center"><i class="fa fa-bed" aria-hidden="true"></i></div>
                        <p class="filter-p">rooms</p>
                    </a>
                </div>
                <div class="filter  ">
                    <a href="/listings/filter/Farms" class="text-dark">
                        <div class="text-center"><i class="fa-solid fa-cow"></i></div>
                        <p class="filter-p">Farms</p>
                    </a>
                </div>
                <div class="filter ">
                    <a href="/listings/filter/Arctic" class="text-dark">
                        <div class="text-center"><i class="fa-brands fa-galactic-republic"></i></div>
                        <p>Arctic</p>
                    </a>
                </div>
                <div class="filter">
                    <a href="/listings/filter/Beach" class="text-dark">
                        <div class="text-center"><i class="fa-solid fa-umbrella-beach"></i></div>
                        <p>Beach</p>
                    </a>
                </div>
            </div> 

            <div class="swiper-slide">
                <div class="filter ">
                    <a href="/listings/filter/Castles" class="text-dark">
                        <div class="text-center"><i class="fa-brands fa-fort-awesome"></i></div>
                        <p>castles</p>
                    </a>
                </div>
                <div class="filter " >
                    <a href="/listings/filter/Amazing pools" class="text-dark">
                        <div class="text-center"><i class="fa-solid fa-person-swimming"></i></div>
                        <p>Amazing pools</p>
                    </a>
                </div>
                <div class="filter ">
                    <a href="/listings/filter/Mountain" class="text-dark">
                        <div class="text-center"><i class="fa-solid fa-mountain-city"></i></div>
                        <p>mountain</p>
                    </a>
                </div>
                <div class="filter  ">
                    <a href="/listings/filter/Lake" class="text-dark">
                        <div class="text-center"><i class="fa-solid fa-water"></i></div>
                        <p>Lake</p>
                    </a>
                </div>
                <div class="filter   " >
                    <a href="/listings/filter/Camping" class="text-dark">
                        <div class="text-center"><i class="fa-solid fa-campground"></i></div>
                        <p>Camping</p>
                    </a>
        
                </div>
            </div>
            
            <div class="swiper-slide">
                <div class="filter hide">
                    <div class="text-center"><i class="fa-solid fa-igloo"></i></div>
                    <p>Domes</p>
                </div>
               <div class="filter ">
                    <a href="/listings/filter/New" class="text-dark">
                        <div class="text-center"><i class="fa-solid fa-key"></i></i></div>
                        <p class="filter-p">new</p>
                    </a>
                </div>
                <div class="filter  ">
                    <a href="/listings/filter/Ski-in" class="text-dark">
                        <div class="text-center"><i class="fa-solid fa-person-skating"></i></div>
                        <p class="filter-p">ski-in/out</p>
                    </a>
                </div>
                <div class="filter  ">
                    <a href="/listings/filter/Tower" class="text-dark">
                        <div class="text-center"><i class="fa-solid fa-tower-observation"></i></div>
                        <p class="filter-p">Towers</p>
                    </a>
                </div>
                <div class="filter ">
                    <a href="/listings/filter/Chef's" class="text-dark">
                        <div class="text-center"><<i class="fa-solid fa-kitchen-set"></i></div>
                        <p class="filter-p">kitchens</p>
                    </a>
                </div>
            </div> 

        </div>
        <div class="swiper-pagination"></div>
    </div>
    </div>

    <div class="tax-toggle " >
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label font-8" for="flexSwitchCheckDefault">&nbsp; &nbsp; Display total before taxes </label>
        </div>
    </div>
</div>