<% layout('layout/boiler') -%>
<div class="row m-3">
    <div class="col-8 offset-lg-2" style="background-color: #fff; border-radius: 1rem;">
    <br>

    <div class="new_top_box row">
        <div class="mt-3 pt-3 pr-3 col top_text_box">
            <h1 class="bold-text">Make your place stand out</h1>
            <p class="bold-text">In this step, you’ll add some of the amenities your place offers, plus 2 or more photos. Then you’ll create a title and description.</p>
        </div>
        <div class="new_img_box col">
            <img src="/home_design.jpg" alt="" srcset="">
        </div>
    </div>
    

    <form method="POST" action="/listings"  class=" needs-validation p-3"  novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <h5 class="font-w-600 mt-3 ">Give your house a title</h5>
            <input type="text" name="listing[title]" 
               placeholder="enter the title" 
               class="form-control"
               required>
            <div class="valid-feedback">Looking Good !</div>
        </div>
        <div class="mb-3">
            <h5 class="bold-text mt-3 ">Give a quick summary of your home </h5>
            <label for="summary" class="form-label"></label>
            <textarea name="listing[summary]"  cols="20" rows="2" class="form-control" required></textarea>
            <div class="invalid-feedback">Summary is Required !</div>
        </div>
        <div class="mb-3">
            <h5 class="bold-text mt-3 ">Describe your house</h5>
            <label for="description" class="form-label">Share what makes your place special.We'll use these to get your description started.</label>
            <textarea name="listing[description]"  cols="20" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Description is Required !</div>
        </div>

        
        <div class="mb-3 mt-3">
            <h5 class="bold-text mt-3 ">Add a coverImage of your house</h5>
            <label for="coverImage" class="form-label"></label>
            <div class="new_box ">
                <div class="new_icon"><i class="fa-regular fa-image"></i></div>
                <div class="box_input">
                    <input type="file" name="coverImage" class="form-control "  >
                </div>
            </div>
            
        </div>
        <div class=" mt-3">
            <h5 class="bold-text  ">Add some more photos of your house</h5>
            <label for="images" class="form-label"></label>
            <div class="new_box mt-3">
                <div class="new_icon"><i class="fa-regular fa-image"></i></div>
                <div class="box_input">
                    <input type="file" name="images" class="form-control "  multiple >
                </div>
            </div>
            
        </div>
        <br>
        <h5 class="bold-text mt-3">Which of these best describes your place?</h5>
        <select class="form-select mb-3" aria-label="Default select example" name="listing[category]" required>
            <option value="Rooms" selected>Rooms </option>
            <option value="Trending">Trending </option>
            <option value="Farms">Farms</option>
            <option value="Arctic">Arctic</option>
            <option value="Beach">Beach</option>
            <option value="Castles" >Castles</option>
            <option value="Amazing pools">Amazing pools</option>
            <option value="Mountain">Mountain</option>
            <option value="Lake">Lake</option>
            <option value="Camping" >Camping</option>
            <option value="Boats">Boats</option>
            <option value="New">New</option>

            <option value="Chef's">Chef's and kitchens</option>
            <option value="Ski-in" >Ski-in/out</option>
            <option value="Domes">Domes</option>
            <option value="Tower">Tower</option>
            
        </select>

        <div class="mb-3 mt-3 ">
            <h5 class="bold-text mt-3">Amenities</h5>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-4 cursor_pointor" >
                    <input type="checkbox" name="amenities[wifi]" id="wifi" class="amenities_input cursor_pointor">
                    <label for="wifi">
                        <i class="fa-solid fa-wifi m-3"></i>
                        Wifi
                    </label>
                </div>
                
                <div class="col-md-6 col-sm-4 cursor_pointor">
                    <input type="checkbox" name="amenities[washing_machine]" id="washing_machine" class="amenities_input cursor_pointor">
                    <label for="washing_machine ">
                        <i class="fa-solid fa-cash-register m-3"></i>
                        Washing Machine
                    </label>
                    
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-4 amenities_item cursor_pointor">
                    <input type="checkbox" name="amenities[tv]" id="tv" class="amenities_input cursor_pointor">
                    <label for="tv">
                        <i class="fa-solid fa-tv m-3"></i>
                        TV
                    </label>
                </div>
                
                <div class="col-md-6 col-sm-4 amenities_item cursor_pointor">
                    <input type="checkbox" name="amenities[kitchen]" id="kitchen" class="amenities_input cursor_pointor">
                    <label for="kitchen ">
                        <i class="fa-solid fa-kitchen-set m-3"></i>
                        Kitchen
                    </label>
                    
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-4 amenities_item cursor_pointor">
                    <input type="checkbox" name="amenities[fridge]" id="fridge" class="amenities_input cursor_pointor">
                    <label for="fridge">
                        <img src="/fridge.png" alt="" srcset=" " class="m-3">
                        Fridge
                    </label>
                </div>
                
                <div class="col-md-6 col-sm-4 amenities_item cursor_pointor">
                    <input type="checkbox" name="amenities[air_conditioning]" id="air_conditioning" class="amenities_input cursor_pointor">
                    <label for="air_conditioning ">
                        <i class="fa-brands fa-galactic-republic m-3"></i>
                        Air conditioning
                    </label>
                    
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-4 amenities_item cursor_pointor">
                    <input type="checkbox" name="amenities[cooking_essentials]" id="cooking_essentials" class="amenities_input cursor_pointor">
                    <label for="cooking_essentials">
                        <i class="fa-solid fa-utensils m-3"></i>
                        Cooking Essentials
                    </label>
                </div>
                
                <div class="col-md-6 col-sm-4 amenities_item cursor_pointor">
                    <input type="checkbox" name="amenities[garden]" id="garden" class="amenities_input cursor_pointor">
                    <label for="garden ">
                        <i class="fa-solid fa-tree-city m-3"></i>
                        Garden
                    </label>
                    
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-4 amenities_item cursor_pointor">
                    <input type="checkbox" name="amenities[iron]" id="iron" class="amenities_input cursor_pointor">
                    <label for="iron">
                        <img src="/iron.png" alt="" class="m-3">
                        Iron
                    </label>
                </div>
                
                <div class="col-md-6 col-sm-4 amenities_item r">
                    <input type="checkbox" name="amenities[smooking]" id="sooking" class="amenities_input cursor_pointor">
                    <label for="smooking " >
                        <i class="fa-solid fa-smoking m-3"></i> Smooking allowed
                    </label>
                    
                </div>
                
            </div>
            
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <h5 class="bold-text mt-3 ">Now, set your price</h5>
                <label for="price" class="form-label"></label>
                <input type="number" name="listing[price]" placeholder="1200" class="form-control" required>
                <div class="invalid-feedback">Price should be valid !</div>
    
            </div>

            <div class="mb-3 col-md-6 ">
                <h5 class="bold-text mt-3 ">Where did you located?</h5>
                <div class="new_box mt-3">
                    <div class=" new_icon"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="box_input ">
                        <input type="text" name="listing[location]" placeholder="Enter your Address" class="form-control" required>
                        <div class="invalid-feedback">Location should be valid !</div>
                    </div>
        
                </div>
            </div>
        </div>
        
        <br>

        <div class="row">
            <div class="mb-3 col-md-6">
                <h5 class="bold-text mt-3 ">Number of bedrooms</h5>
                <label for="bedrooms" class="form-label"></label>
                <input type="number" name="listing[bedrooms]" placeholder="2" class="form-control" >
    
            </div>

            <div class="mb-3 col-md-6 ">
                <h5 class="bold-text mt-3 ">Number of maxguests</h5>
                <label for="maxguests" class="form-label"></label>
                <input type="number" name="listing[maxGuests]" placeholder="5" class="form-control" >
            </div>
        </div>
        

        <button type="submit" class="btn btn-dark add-btn mb-3 p-3">Add the house</button>
        <br>
        <br>
    </form>
    </div>

</div>


