.booking-container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MDUtYTAyZC1tb2NrdXBfNS5qcGc.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 0.5rem;
}
 .card-booking {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 1rem;
}
.house-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.price-booking-card {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.date-booking-card{
    color: #666;
}