body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar{
    height:6rem;
    background-color:#fff ;
    transition: 0.2s linear;
    box-shadow: 5px 0px 5px #b4aaaa;
}
.container{
    max-width: 100% !important;
    margin-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    flex-wrap: nowrap !important;
}
.nav_container{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    min-width: fit-content;
}
#middle-container{
    min-height: 80vh; 
    background-color: #f7f7f7; 
    width: 98%;
}
.flash-btn{
    padding: 5px !important;
}
.alert-dismissible{
    display: flex;
    align-items: center !important;
}
.fa-compass{
   font-size: 2rem;
   color:#fe424d;
}
.search{
    flex-grow: 0.5;
}
.search:hover{
    box-shadow: 2px 2px 2px #b4aaaa;
    border-radius: 25px;
}
.btn-search{
    background-color:#fe424d;
    color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-search i{
    display: inline;
    margin-right: 0.5rem;
}
.search_box{
    border: 2px solid rgb(224, 218, 218);
    border-radius: 25px;
    padding: 5px;
}
.btn-search:hover{
    background-color:#fe424d;
    color: #fff;
}
.search-input{
    border: none;
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
}
.user_logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
    min-width: 3.2rem;
    height: 2.5rem;
    cursor: pointer;
    box-shadow: 1px 1px 2px #9c9b9b;
}
.user_icon{
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #c3b9b9;
    border: 1px solid black;
    text-align: center;
}
.user_box{
    width:18rem;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 1025;
    border: 1px solid #808080;
    position: fixed;
    top:6rem;
    right:5rem;
    background-color: #FFF;
    transition:  2s ease-in 2s;
    box-shadow: 2px 2px 2px #818080;
}
.user_item{
    padding: 10px;
}
.user_cross{
    width:1.5rem;
    height:1.5rem;
    font-size: 1.5rem;
    position: absolute;
    top:5px;
    right: 5px;
    cursor: pointer;
}

.nav-link{
    color: #222222 !important;
    font-size: 1rem;
    font-weight: 600;
}
.navbar-collapse{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0rem 2rem 2rem;
}
.show {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}
.nav-belt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.2rem;
}

.nav_swiper{
    flex-grow: 1;
    max-width: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    margin-right: 0px !important;
}

.filter{
    font-size: 0.6rem;
    opacity: 0.7;
    margin: 1rem;
    cursor: pointer;
    padding-bottom: 0.5rem;
    height: 45px;
}
.filter:hover{
    opacity: 1;
    border-bottom: 3px solid rgb(187, 185, 185);
}
.filter i{
    font-size: 1.2rem;
    text-align: center;
}
.filter-btn{
    text-decoration: none;
    border: none;
    background-color: #FFF;
}
.filter p{
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}
.filter a{
    text-decoration: none;
}
.tax-toggle{
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    height:3.1rem;
    justify-content: center;
    padding-right: 10px;
    font-size: 0.87rem;
    margin-left: 1.5rem;
}
.tax-toggle input{
    cursor: pointer;
}
.tax-info{
   display: none;
}
.font-8{
    font-size: 0.8rem;
}

footer{
    height:fit-content;
    background-color: #fff;
    padding: 1rem;
    border-top: 1px solid rgb(186, 180, 180);
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.footer-box{
    padding: 1rem;
    width:25rem;
}
.footer-a{
    color: #000;
    line-height: 1.5rem;
}
.footer-box i{
    cursor: pointer;
}
.footer-icon-box{
    height: 2rem;
    width:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e1e1;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 1rem;
}
.footer-icon-box i{
    font-size: 0.8rem;
}
.footer-icon-box:hover{
    background-color: #c1bfbf;
}

.footer-a:hover{
    font-weight: 600;
}
.footer-a li{
    list-style: none;
}


/* Sign page style */
.signup_card{
    max-width: 40rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #d3d1d1;
}

/* Login page */
.forgot_btn{
    font-weight: 500;
    cursor: pointer;
}

/* card style */
.card-listing{
    border: none !important;
    margin-bottom: 2rem;
    position: relative;
}
.container{
    margin-left: 1.5rem !important;
    flex:1;
}
.card-img-top{
    width:100% !important;
    border-radius: 1.6rem !important;
    object-fit: cover !important;
    box-shadow: 1px 1px 5px;
}
.listing_like{
    height: 1.5rem;
    width: 1.5rem;
    display: inline;
    position: absolute;
    top: 9px;
    right: 11px;
    font-size: 1.5rem;
    z-index: 10;
}

.listing_like i{
    color: #615f5f;
}
.red{
    color: #fe424d !important;
}
.font-w-600{
    font-weight: 600;
}
.font-s-1{
    font-size: 0.9rem;
}
.font-s-large{
    font-size: large;
}

/* .card-body{
    padding: 0 !important;
} */

.card-text{
    font-weight: 400 !important;
    text-align: justify;
}

a{
    text-decoration: none;
}

/* show page */
.owner_img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0rem 1rem;
}
.para_style{
    text-align: justify;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 0.1px;
}
.cross_text{
    text-decoration: line-through;
}
.reserve_div{
    background-color: #fe424d;
    color: #fff;
    text-align: center;
    padding: 0.8rem;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;

}
.review_card{
    width: 20rem;
    border: none;    
    box-shadow: 1px 1px 2px #a8a6a6;
    font-size: 0.7rem;
    background: #f7f5f5;
    border-radius: 1rem;
}
.reserve_card{
    box-shadow: 2px 2px 2px #a8a6a6;
    border-radius: 2rem;
}
.cursor_pointor{
    cursor: pointer;
}
.review-img{
    height: 5.2rem;
    width: 5.2rem;
    padding: 0.2rem;
    float: left;
    /* color: #fe424d !important; */
    border: 5px solid #5374db ;
    border-radius: 50%;
    margin-right: 1rem;
}
.btn_full{
    width: 100%;
    border-radius: 2rem;
    padding: 0.5rem;
    font-weight: 600;
    font-size: large;
}


/* card Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: #FFF;
}
.add-btn{
    background-color: #fe424d;
    border:none;
}

.wishlist{
    position: fixed;
    top: 45%;
    left: 35%;
    background-color: #fff;
    min-height: fit-content;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    padding: 2rem;
    z-index: 15;
    box-shadow: 10px 10px 10px #81808091;
    
}
.wishlist a{
    text-decoration: none;
    color: #222222;
}
.wishlist h5{
    padding: 12px 35px;
    border-radius: 0.5rem;
    background-color: #222222;
    color: #fff;
}

.cross{
    width:1.5rem;
    height:1.5rem;
    font-size: 1.5rem;
    position: absolute;
    top:5px;
    right: 5px;
}
.cross:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.popbox{
    display: none;
}


/* new page */
.new_box{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    justify-self: baseline;
}
.new_top_box{
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
}
.new_img_box{
    height: 18rem;
    width:18rem;
}
.new_img_box img{
    height: 18rem;
    width:19rem;
    background-size: cover;
    border-radius: 2rem ;
}
.new_icon{
    padding: 6px;
    margin-right: 6px;
}
.nav_hover{
    border-radius: 1rem;
    padding-left: 4px;
    padding-right: 4px;
}
.nav_hover:hover{
    background-color: #f5f1f1ba;
}
.box_input{
    flex-grow: 1;
}
.new_box i{
    font-size: 1.5rem;
}
.nav_collaps_box{
    flex-wrap: nowrap !important;
}
.amenities_input{
    text-decoration: none;
    height: 1.2rem;
    width: 1.3rem;
}
.amenities_item{
    display: flex;
    align-items: baseline;
}

/* edit-style */
.edit-btn{
    background-color: #fe424d;
    border:none;
}
.edit_select{
    width:15rem;
}
.edit_img{
    width:200px;
    height:100px;
}

/* show Page */
.summary-text{
    padding:1rem 0rem;
    text-align: justify;
}
.show_title{
    padding-top: 0.5rem;
    font-weight: 600;
    padding-bottom: 0.85rem;
}
.show-img{
    height:50vh;
}
.ml-2{
    margin-left: 2rem;
}
.bold-text{
    font-weight: 600 !important;
}

.padding-all{
   padding: 0rem 2rem;
}

/* Show Swiper */
.box_container ,.image_box{
    position: relative;
    height:100%;
}
.image_box{
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    width:600px;
    height:400px;

  }

  .image_box .swiper {
    width: 100%;
    height: 100%;
  }

  .image_box .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .image_box .swiper-slide img {
    display: block;
    width: 100%;
  }
/* Search page */
/* .search_main{
    display: flex;
    position: relative;
} */
.search_map{
    width:60vw;
    flex-grow: 0.5;
}
/* .search_listings{
    flex-grow: 1;
} */
/* Map Style */

#map { 
    height:100%;
    width:100%;
    border-radius: 20px;
}
/* Wishlist page */
.wish_cross{
    height: 1.5rem;
    width: 1.5rem;
    display: inline;
    position: absolute;
    top: 9px;
    right: 11px;
    font-size: 1.5rem;
    z-index: 10;
}

.font-w-500{
    font-weight: 500;
}
.airbnb-color{
    background-color: #3A416F ;
    border-radius: 2rem 0rem 0rem 2rem;
}
.hide{
    display: none;
}

.remove_hide{
    display: none;
}

/* Profile page */
.top-box{
    display: flex;
    justify-content: center;
    width:95vw;
}
.profile-box{
    width:900px;
    border: 1px solid black;
    border-radius: 2rem;
}
.profile-back-img{
    width: 100%;
    height:100px;
    border-radius: 2rem 2rem 0rem 0rem;
}

/* Media Query */

@media (max-width :880px) {
    .nav_hide{
        display: none;
    }
    .remove_hide{
        display: block;
    }
}
@media(max-width:950px){
    .search_map{
        display: none;
    }
}

@media(min-width:1250px){
    .top_text_box{
        padding-top: 5rem !important;
    }
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account {
    /* background-image: url('background.jpg'); /* Replace 'background.jpg' with your image path 
    background-size: cover;
    background-position: center;
    color: #000; */
    margin: 3rem 2rem 2rem 2rem;
    box-shadow: 1px 1px 5px #ebebeb ;
    border-radius: 2rem ;
    width: 70%;
}
.sidebar-margin-top{
    margin-top: 12rem;
}
.sidebar {
    padding: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    margin-bottom: 10px;
}
.sidebar li a {
    color: #fff;
    opacity: 0.8;
}
.sidebar li a:hover{
    opacity: 1;
}
.content {
    background-color:#fff;
    /* padding: 1.2rem; */
    border-radius: 0rem 2rem 2rem 0rem;
}


.user-info img {
    border-radius: 50%;
    width: 11rem;
    height: 11rem;
    margin-top: 2.8rem;
}
.user-old-en{
    margin: 7rem 0rem 0rem 7.5rem;
}
.user-old-img-box{
    border-radius: 0.2rem 1rem 1rem 0.2rem;
    background-color: #3A416F;
    color: #fff;
    padding: 1rem;
    height:200px;
}

@media(max-width:600px){
    .account{
        margin: 2rem 1rem;
        width:88%;
    }
    .airbnb-color{
        border-radius: 1rem 0rem 0.5rem 0.5rem;
        padding: 0rem;
    }
    .row{
        --bs-gutter-x: 0rem !important;
    }

   
}

@media(max-width:900px){
    .offset-3{
        margin: 0;
        padding: 0;
    }
   
    .col-8{
        width: 98% !important;
    }
    .col-6{
        width:100% !important;
    }
    .user-old-en{
        margin: 1rem 0rem 0rem 0.5rem;
    }
    .sidebar{
        padding: 0 !important;
    }
    .account{
        margin: 2rem 0rem;
    }
    .container-fluid{
        padding: 0 rem !important;
    }
    .user-info img{
        height: 6rem;
        width:6rem;
    }
    .user-old-img-box{
        height: auto;
    }
    .hide-user-setting{
        display: none;
    }
    .px-4{
        padding: 0 !important;
    }
    .search-map-hide{
        display: none;
    }
}