<% layout('layout/boiler') -%>

<div class="row justify-content-center mt-3 mb-3 ">
<div class="p-3 m-3 signup_card">
    <h5 class=" mt-3  text-center bold-text">Login </h5>
    <hr class=" text-center ">
    <div class="row justify-content-center">
        <div class="col-10 " >

            <form action="/listings/login"  method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="email" class="form-label font-w-600"> Email Address</label>
                    <input type="email"
                       name="email"  
                       class="form-control"
                       id="email"
                      required
                    >
                    <div class="invalid-feedback">Email can't be empty !</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label font-w-600"> Password</label>
                    <input type="password"
                      name="password"  
                      class="form-control"
                      id="password"
                       required
                    >
                    <div class="invalid-feedback">Password can't be empty !</div>
                </div>
                
                <button class="btn btn-danger mt-3 mb-3 loginbtn btn_full">Login</button>
            </form>
            <p class="forgot_btn " id="forgot_passowrd">Forgot  password ?</p>
            <form action="/listings/forgotPassword"  method="POST" class="needs-validation hide" novalidate id="forgot_form">
                <div class="mb-3">
                    <label for="forgot_email" class="form-label font-w-600"> Email Address</label>
                    <input type="email"
                       name="email"  
                       class="form-control"
                       id="forgot_email"
                      required
                    >
                    <div class="invalid-feedback">Email can't be empty !</div>
                </div>
                <button class="btn btn-danger mt-3 mb-3 loginbtn ">Send me token</button>
            </form>

        </div>
    </div> 
</div>
</div>